body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
.container {
    display: flex;
    flex-direction: column;
}
.section-one{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 20px 0px 20px 100px; 
    align-items: center;
}

.header-logo{
    margin-right: auto;
}


.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.opening{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.opening-text{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}

.opening-text p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.opening button{
    display: block;
    text-align: center;
    width: 110px;
    border: 1px solid black;
    background: #3882f6;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    align-self: center; 
}

.section-two{
    align-items: center;
}

.images-text{
    display: flex;
    justify-content: center;
}

.images-text img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 4px solid darkblue;
    border-radius: 15px;
    margin: 5px 25px 5px 25px;
}

.section-three{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.section-three p{
    font-family: 'Roboto', arial;
    font-style: italic;
    font-size: 36px;

}

.section-three strong{
    font-family: 'Roboto', arial;
    text-align: right;
    padding-right: 50px;
}

.section-four{
    display:flex;
    align-items: center;
    background-color: #3882F6 ;
    margin: 50px 200px;
    border-radius: 15px;
    font-family: 'Roboto', arial;
}

.section-four h3{
    color: white;
    text-align: left;
    font-family: 'Roboto', arial;
    margin: 30px 0px 0px 50px;
}

.section-four p{
    color: white;
    font-family: 'Roboto', arial;
    margin: 5px 30px 30px 50px;
}

.section-four button{
    text-align: center;
    border: 1px solid white;
    background: #3882f6;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    font-family: 'Roboto', arial;
}
.footer{
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', arial;
}